<!DOCTYPE html>
<html>
  <%- include('./partials/head', { page: 'home', pageName: 'Home' }) %>
  <body>
    <%- include('./partials/header') %>


    <main>
    <h1>Seja bem-vindo</h1>  
    </main>


  </body>
</html>
