<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/home.css">
    <link rel="stylesheet" href="../public/stylesheets/header.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="container">
      
          <nav>
            <ul>
              <li>
                <a href="/home">Home</a>
              </li>
              <li>
                <a href="/">Sair</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
    <h1>Seja bem vindo, xxxx!</h1>

    
    <form>
        <p>Escolha o mês:</p>
        <select>
            <option selected value="">Selecione...</option>
            <option value="1">Janeiro</option>
            <option value="2">Fevereiro</option>
            <option value="3">Março</option>
            <option value="4">Abril</option>
            <option value="5">Maio</option>
            <option value="6">Junho</option>
            <option value="7">Julho</option>
            <option value="8">Agosto</option>
            <option value="9">Setembro</option>
            <option value="10">Outubro</option>
            <option value="11">Novembro</option>
            <option value="12">Dezembro</option>
        </select>
        <input type="submit" class="button">
    </form>

    <table class="tabela" border="1">
        <tr>
            <th>Matrícula</th>
            <th>Nome</th>
            <th>00/00/0000</th>
            <th>00/00/0000</th>
            <th>00/00/0000</th>
            <!--Será preciso um laço para pegar as datas das aulas-->
            <th>Total</th>
        </tr>
        <tr>
            <td>x</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>x</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>